* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bdf6fc;

  div {
    display: flex;
    flex-direction: column;

    nav {
      background: #eb393c;
      justify-items: center;
      align-items: center;
      height: 8vh;

      div {
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        height: 8vh;
        // width: 100%;
        flex-direction: row;

        color: #eb393c;
        overflow: auto;
        position: absolute;

        // padding: auto;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
        h1 {
          // float: right;
          white-space: nowrap;
          // overflow: hidden;
          font-size: 2em;
          color: white;
        }
        a {
          // float: right;
          padding-left: 5vh;
          white-space: nowrap;
          // overflow: hidden;
          font-size: 2em;
          color: white;
          text-decoration: none;
        }
      }
    }
    div {
      height: 92vh;
      input {
        // padding-top: 100px;
        margin-top: 8vh;
      }
      button {
        margin-left: 300px;
        position: absolute;
        font-size: 20px;
        color: white;
        background-color: #eb393c;
        padding: 10px;
        // height: 4em;
        // width: 8em;
        border-width: 0px;
        box-shadow: none;
        border-color: #bdf6fc;
        margin-top: 30px;
        border-radius: 3px;
      }
    }
  }
}
